@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #27262c;
    margin: 120px 30px 0 30px;
}

h1 {
    font-size: 10vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(rgb(228, 170, 104) 60%, rgb(255, 235, 210) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

p, footer, main {
    font-size: 2w;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

details {
    color: #fcdaad;
}

section {
    margin-top: 25px;
}

li, a, button {
    font-family: 'Poppins', sans-serif;
}

a:link {
    color: #b8986e;
}

a:hover {
    color: #fcdaad;
}

a:visited {
    color: #b8986e;
}

footer {
    font-size: 70%;
}

.accent {
    color: #b1b0af;
}

.button {
    background-color: #fcdaad;
    border: none;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 50px
  }

.corgiBold {
    color: #fcdaad;
    font-weight: bold;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    /* Compatability tags for safari */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backdrop-filter: blur(50px);
    transform: translate3d(0, 0, 0);
    /* Draws blur behind everything */
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(90deg, transparent, rgb(255, 223, 186, 0.2), transparent);
    z-index: -1;
    transition: .5s;
    
}

.header:hover::after {
    opacity: 100%;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    font-size: 2rem;
    background: linear-gradient(rgb(228, 170, 104) 60%, rgb(255, 235, 210) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
}

#menu-check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

.pulse {
    /* Chrome, Safari, Opera */
    -webkit-animation: pulseAnimate 1s infinite; 
 
    /* Firefox */
    -moz-animation: pulseAnimate 1s infinite;
 
    /* Standard Syntax */
    animation: pulseAnimate 1.25s infinite; 
}

@-webkit-keyframes pulseAnimate {
   100% {
       opacity: 0.4;
   }
}

@-moz-keyframes pulseAnimate {
   100% {
       opacity: 0.4;
   }
}

@keyframes pulseAnimate {
   100% {
       opacity: 0.4;
   }
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #menu-check:checked~.icons #menu-icon {
        display: none
    }

    .icons #close-icon {
        display: none
    }

    #menu-check:checked~.icons #close-icon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        /* Compatability tags for safari */
        -webkit-backdrop-filter: blur(50px);
        overflow: hidden;
        transition: .3s ease;
    }

    #menu-check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.7rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #menu-check:checked~.navbar a {
        transform: translateY(0px);
        opacity: 1;
        transition-delay: calc(.1s * var(--i));
    }
}